<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>941287839428-s88sq3iscioc1j4es31faqbe9alntnpr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.941287839428-s88sq3iscioc1j4es31faqbe9alntnpr</string>
	<key>API_KEY</key>
	<string>AIzaSyAzcP1VsL9HFRz31QKFbOu7T4rxoOP8_Cs</string>
	<key>GCM_SENDER_ID</key>
	<string>941287839428</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eldepizza</string>
	<key>PROJECT_ID</key>
	<string>eldepizza</string>
	<key>STORAGE_BUCKET</key>
	<string>eldepizza.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:941287839428:ios:558469deeffa6ef7dd1b91</string>
</dict>
</plist>